 <div class="container">
   <div class="row">
    <% @safaris.each do |safari| %>
    <div class="col-xs-12 col-sm-4">
     <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
          <div class="swiper-slide">
          <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
          <div class="swiper-slide">
          <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  <div class="card-footer-description">
          <div class="card-footer-info">
            <p> From 202$ Safari Africa </p>
          </div>
          <div class="card-stars">
            <% 5.times do  %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <p>250 reviews</p>
          </div>
        </div>
    </div>


<div class="col-xs-12 col-sm-4">
     <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
          <div class="swiper-slide">
          <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
          <div class="swiper-slide">
          <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  <div class="card-footer-description">
          <div class="card-footer-info">
            <p> From 202$ Safari Africa </p>
          </div>
          <div class="card-stars">
            <% 5.times do  %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <p>250 reviews</p>
          </div>
        </div>
    </div>




    <div class="col-xs-12 col-sm-4">
     <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
          <div class="swiper-slide">
          <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
          <div class="swiper-slide">
          <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "card" %>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  <div class="card-footer-description">
          <div class="card-footer-info">
            <p> From 202$ Safari Africa </p>
          </div>
          <div class="card-stars">
            <% 5.times do  %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <p>250 reviews</p>
          </div>
        </div>
    </div>



    <% end %>
   </div>
 </div>


    <!-- Initialize Swiper -->
    <% content_for(:js) do %>
    <%= javascript_tag do %>
  var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
    <% end %>
    <% end %>
