<div class="col-xs-12 col-sm-6 col-md-4">
  <%= link_to safari_path(safari) do %>
  <div class="card-info">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% unless safari.safari_images.empty? %>
          <% safari.safari_images.each do |images_instance| %>
          <div class="swiper-slide">
            <div class="card" style="background-image: url('<%= cl_image_path images_instance.photo %>')"></div>
          </div>
          <% end %>
        <% else %>
          <div class="swiper-slide">
            <div class="card" style="background-image: url('<%= cl_image_path "katie-treadway-253591_hqpbjo" %>')">
            </div>
          </div>
        <% end %>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
    </div>

    <div class="card-footer-description">
      <div class="footer-box">

        <div class="card-footer-info">
          <p> <%= safari.title %> </p>
        </div>

        <div class="stars-and-count">

          <div class="card-stars">
            <div class="symbols">
              <% number = (1..5).to_a.sample.to_i %>
              <% number.times do  %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
              <% (5 - number).times do %>
                <i class="fa fa-star-o"></i>
              <% end %>
            </div>
          </div>

          <div class="card-count">
            <p> <%= (50..150).to_a.sample %> reviews</p>
          </div>

        </div>

      </div>
    </div>
  </div>
  <% end %>
</div>
