<div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">


  <%= simple_form_for @safari, html: { multipart: true } do |f| %>

    <div class="form-inputs devise-form">
      <h2>Add a new safari</h2>
      <%= f.input :title, required: true, autofocus: true %>
      <%= f.fields_for :safari_images do |p| %>
        <div class="field">
          <%= p.label :photo %><br>
          <%= p.file_field :photo, :multiple => true, name: "safari_images[photo][]" %>
        </div>
      <% end %>
      <%# f.input :photos_cache, as: :hidden %>
      <%= f.input :address, input_html: { class: 'address-search' } %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :capacity %>
      <%= f.input :date %>
    <div class="form-actions">
      <%= f.button :submit, "create" %>
    </div>

    </div>


  <% end %>
  </div>
</div>


<%= content_for(:before_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyChl4fydvT8OtNqTPp8fXIHg7avv0b2650"></script>
<% end %>


