<div class="show-banner-box">

<div class="swiper-container">
  <div class="swiper-wrapper">
    <% if @safari.safari_images %>
      <% @safari.safari_images.each do |images_instance| %>
        <div class="swiper-slide">
          <%= cl_image_tag images_instance.photo, class: "show-banner", crop: :fill %>
        </div>
      <% end %>
    <% else %>
      <div class="swiper-slide">
        <%= cl_image_tag "lkgaqzb9hc9garraymlm.jpg", class: "show-banner" %>
      </div>
    <% end %>

    <!-- <div class="show-banner-content">
          <h2><%= @safari.title %></h2>
          <%# cl_image_tag @user.avatar_url, class: "safari-owner" %>

          <a class="safari-owner-link" href="#" ></a>
    </div> -->

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</div>
</div>

  <div class="show-banner-content">
    <div class="summary">
      <h2><%= @safari.title %></h2>
    </div>
    <div class="book-and-avatar">
      <%= cl_image_tag @user.avatar_url, class: "safari-owner" %>
      <a class="safari-owner-link" href="#" ></a>
      <div id="book-button">
        <% if current_user %>
          <%= link_to "Book now", create_booking_path(@safari, current_user), method: :post %>
        <% else %>
          <%= link_to "Book now", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="info">
    <h3><%= @safari.address %> - £<%= @safari.price %></h3>
    <div class="date">
      <p><%= @safari.date %></p>
    </div>
    <p><%= @safari.description %></p>
  </div>





<div id="map" style="width: 100%; height: 400px;"></div>

<div class="reviews">

</div>
<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyCMtlyoljyulu4QGTB6SxcjUMxW-lCmv2I" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
<% end %>

<% content_for(:after_js) do %>

  <script>
    $(document).ready(function() {
      var styles = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#b4f06d"
            },
            {
                "saturation": "-40"
            },
            {
                "lightness": "58"
            }
        ]
    },
    {
        "featureType": "landscape.natural.landcover",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "landscape.natural.terrain",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f4f2cd"
            },
            {
                "visibility": "on"
            }
        ]
    }
]
      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
        styles: styles },

        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers([<%= raw @safari_coordinates.to_json %>]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(6);
        }
      });
    });
  </script>

    <%= javascript_tag do %>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
  <% end %>

<% end %>





